<!-- index.hbs -->

<html>
<head>
<title>Home</title>
<link href="css/style.css" rel="stylesheet" type="text/css" />
</head>

<body>
  <h1>Welcome to Team Mango's Pokémon Collection Database!</h1>
  <table border="1">
    <tr>
      <th>
        <a href="index.hbs">Home</a>
      </th>
      <th>
        <a href="login.hbs">Login/Register</a>
      </th>
      <th>
        <a href="pokemon.hbs">Pokémon</a>
      </th>
      <th>
        <a href="pokedex.hbs">Pokédex</a>
      </th>
      <th>
        <a href="games.hbs">Games</a>
      </th>
      <th>
        <a href="types.hbs">Types</a>
      </th>
      <th>
        <a href="intersection_tables.hbs">Intersection Tables</a>
      </th>
    </tr>
  </table>

  <p><b>Click one of the buttons above to get started!</b></p>
  <p>This is the database that allows you to add a variety of games, types, and even users and see how it comes together!
  </p>
  <p><b>ENJOY YOUR STAY ON THIS WEBSITE!</b></p>

  <img src="img/Poke_Ball_Icon.svg" alt="Pokeball" width="200" height="200">

</body>
</html>
